<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaPresentacionWF.Properties.Settings.programacionBaseDeDatosConnectionString"
            connectionString="Data Source=NOHELIA-PC\SQLEXPRESS;Initial Catalog=programacionBaseDeDatos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>